[Unit]
Description=Mentionbot for Tihlde Drift in the private IRC channel.
After=multi-user.target

[Service]
Type=idle
WorkingDirectory=/home/staff/drift/irc/mentionbot
ExecStart=/usr/bin/python3 -u bot.py
Restart=always
User=drift
StandardOutput=append:mentionbot.log
StandardError=append:mentionbot.log

[Install]
WantedBy=multi-user.target