[Unit]
Description=Mentionbot for Tihlde Drift in the private IRC channel.
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 -u /home/staff/drift/irc/mentionbot/bot.py >> /home/staff/drift/irc/mentionbot/bot.log
Restart=always
User=drift

[Install]
WantedBy=multi-user.target